* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: plum;
}

section {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px;
}

.hide {
    opacity: 0%;
}

.dog-treat {
    background-size: contain;
    border-radius: 0%;
    width: 80px;
    height: 80px;
}

.cat-treat {
    background-size: contain;
    border-radius: 0%;
    width: 100px;
    height: 100px;
}

.treat-animation {
    animation: fadeOutUp;
    animation-duration: 2s;
}

.starting-player {
    animation: heartBeat;
    animation-duration: 1s;
    animation-delay: 0.5s;
}

.winning-player {
    animation: heartBeat;
    animation-duration: 2s;
}

.row-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

h3 {
    background-color: white;
    border: 3px solid black;
    padding: 20px;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3,150px);
    margin: auto;
    justify-content: center;
}

.grid {
    border: 5px solid black;
    cursor: pointer;
    font-size: 100px;
    display: grid;
    justify-content: center;
    background-color: white;
    text-indent: -9999px;
    background-size: cover;
}

.next-round-btn .reset-btn {
    cursor: pointer;
    width: 40px;
    height: 20px;
}

